
@{
    ViewBag.Title = "Ruudukko testiä";
}

<h2>Ruudukko testiä</h2>
<button class="btn btn-warning">Poista<span class="glyphicon glyphicon-trash"></span></button>
<p>&nbsp;</p>
<div class="col-md-6" style="background-color: red;">
   vasen sarake
</div>
<div class="col-md-6" style="background-color: #4cff00;">
    vasen sarake
</div>
<div class="col-md-6" style="background-color: #ffd800;">
    vasen sarake
</div>

<div class="col-md-6" style="background-color: #000000;">
    vasen sarake 2
</div>
<div class="col-md-6" style="background-color: #ffffff;">
    oikea sarake 2
</div>
<div class="col-md-6" style="background-color: #ff0000;">
    oikea sarake 2
</div>
